<div class="header-container">
  <!-- Champ de recherche -->
  <mat-form-field appearance="outline" hideRequiredMarker>
    <mat-icon matPrefix>search</mat-icon>
    <input
      matInput
      name="search"
      [placeholder]="placeholder"
      [formControl]="searchCtrl"
    >
  </mat-form-field>

  <span class="spacer"></span>

  <!-- Utilisateur connecté -->
  <div class="user" *ngIf="user" [matMenuTriggerFor]="userMenu">
    <mat-icon class="avatar-icon" aria-hidden="true">person</mat-icon>
    <!-- Si tu veux l’avatar image à la place -->
    <!-- <img src="assets/images/avatar.png" [alt]="user.lastname" class="avatar-img"> -->
    <span>{{ user.firstname }} {{ user.lastname }}</span>
  </div>

  <!-- Menu utilisateur -->
  <mat-menu #userMenu="matMenu" xPosition="before">
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Déconnexion</span>
    </button>
  </mat-menu>
</div>
<mat-divider></mat-divider>
