// Couleurs principales
$color-background: #f7f4ee;
$color-border: #d9d3c7;
$color-primary: #2f8f4e;
$color-secondary: #e8e2d7;
$color-accent: #a67c52;
$color-warning: #f39c12;
$color-success: #4caf50;
$color-muted: #f0ede8;
$color-error: #c0392b;
$color-sidebar: #ede7df;
$color-sidebar-primary: #2f8f4e;

$text-primary: #2b2b21;
$text-secondary: #3a3932;
$text-warning: #1f1f1f;
$text-muted: #8a857c;
$text-sidebar: #2b2b21;



// Typographie
$font-family-base: 'Inter', sans-serif;


// Arrondis
$radius-sm: 6px;
$radius-md: 10px;
$radius-lg: 14px;
$radius-xl: 22px;

// Ombres
$shadow-card: 0 4px 12px rgba(0, 0, 0, 0.08);
$shadow-button: 0 2px 6px rgba(0, 0, 0, 0.12);
