<div class="sidebar-container">
  <app-logo navTo="/dashboard" margin="lg"></app-logo>
  <mat-divider></mat-divider>

  <!--menu-->
  <nav>
    <ul>
      @for (menu of menus; track menu.label) {
        <li class="nav-link" routerLinkActive="active">
          <a routerLink="{{ menu.link }}" class="nav-link-item">
            @if (menu.fa) {<i class="fas {{menu.icon}} icon"></i>}
            @else {<mat-icon class="icon">{{ menu.icon }}</mat-icon>}
            <span>{{ menu.label }}</span>
          </a>
        </li>
      }
    </ul>
  </nav>
</div>
